.main_header
  .main_info
    .left-header
      .left-header__title
        = @group.name
      .left-header__members
        - @group.users.each do |user|
          .member
          = user.name
    .right-header
      = link_to "Edit", edit_group_path(@group.id),class:"edit-button"

  .messages
    = render @messages
  .footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'